$red: #400b5b, #c31432;
$red-primary: #400b5b;

$purple: #4A00E0, #a237ff;
$purple-primary: #4A00E0;

$blue: #0040ab, #285cf0, #00a6d0;
$blue-primary: #0040ab;

$green: #006056, #13815b, #75a600;
$green-primary: #006056;

$orange: #f12711, #f5af19;
$orange-primary: #f12711;
